* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    padding: 50px;
    padding-top: 110px;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background-color: #04151F;
}


.form-group {
    display: inline-block;
    margin-right: 19px;
    margin-bottom: 10px;
}

.form-group label{
display: block;
color: rgba(0, 0, 0, 0.851);
margin-bottom: 3px;
font-size: 13px;

}
table {
    border-collapse: collapse;
}

#gauche {
    width:270px;
    height: 500px;
    background-color: #183A37;
    

}

#droite {
    padding: 50.8px;
    background-color: white;

}

h2 {
   
    font-size: 25px;
    position: relative;
    top:-50px;
    color: rgba(0, 0, 0, 0.903);
    margin-bottom: 0px;
}
.titre {
   
    position: relative;
    top:-20px;
}
.bouton input {
    background-color:  #183A37;
    padding: 5px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 3px;
    color: white;
}
.bouton input:hover{
    background-color:  #16524d;
}
.form-group input {
    border: 1px solid grey;
    border-radius: 2.9px;
 }

 .r{
    margin-bottom: 5px;
 }
 .fin {
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.786);
    font-size: 13px;
 }
 a {
    text-decoration: none;
 }
 video {
    width: 250px;
    height: 300px;
    position: relative;
    left: 10px;

 }
 h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: bisque;
    position: relative;
    top: -60px;
    margin-left: 10px;
    font-size: 15px;
 }
 .g {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
 }
